{% extends "student_registeration/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="row mt-3">
    {{form.std_name|as_crispy_field}}
    </div>
    <div class="row mt-3">
    {{form.std_fname|as_crispy_field}}
    </div>
    <div class="row mt-3">
        <div class="col-md-6">{{form.std_phone|as_crispy_field}}</div>
        <div class="col-md-6">{{form.std_program|as_crispy_field}}</div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> submit</button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'student_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"> Back to List</i>
            </a>
        </div>
    </div>
</form>
{% endblock content%}